<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/aanmelden" class="nav-link waves-light" mdbWavesEffect>Aanmelden</a>
          </li>
          <li class="nav-item">
            <a routerLink="/waarnemingen" class="nav-link waves-light" mdbWavesEffect>Waarnemingen</a>
          </li>
          <li class="nav-item">
            <a routerLink="/vogels" class="nav-link waves-light" mdbWavesEffect>Vogels</a>
          </li>
          <li class="nav-item">
            <a routerLink="/spotters" class="nav-link waves-light" mdbWavesEffect>Spotters</a>
          </li>
        </ul>  
      
    </div>
  </div>
</nav>
